# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg
*.egg-info/
.venv/
venv/
env/
.pytest_cache/
.mypy_cache/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
/backend/media/
/backend/staticfiles/

# Node
node_modules/
.pnp
.pnp.js
dist/
dist-ssr/
*.local
.vite/

# Env
.env
.env.*
!.env.example

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Docker
*.pid
